$primary : #21BC21;

@import '../../node_modules/bootstrap/scss/_functions';
@import '../../node_modules/bootstrap/scss/_variables';

$custom-theme-colors : (
    "altDark": #111,
);

$theme-colors: map-merge($theme-colors, $custom-theme-colors);

@import '../../node_modules/bootstrap/scss/bootstrap.scss';